.form {
  width: 100%;
  display: grid;
  gap: 24px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.actionButton {
  flex-shrink: 0;
}

@media (max-width: 480px) {
  .actions {
    flex-direction: column-reverse;
  }

  .actionButton {
    width: 100%;
  }
}
